google-auth
google-auth-oauthlib
google-api-python-client
fastapi
aiohttp
uvicorn
pydantic
pydantic[email]
python-multipart
pandas
numpy
greenlet
requests
schedule
beautifulsoup4
lxml
pytz
python-dotenv
httpx
redis
apscheduler
sqlalchemy
alembic
pyjwt
asyncpg
scipy
cryptography